@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", system-ui, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    @apply text-gray-800 dark:text-gray-100;
  }
}

@layer utilities {
  /* Hide scrollbar but keep scroll */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
